:root {
  --main-font: "Roboto", sans-serif;
  --additional-font: "Montserrat", sans-serif;
}

.hero {
  text-align: center;
  background-image: url("/img/1.jpeg");
  filter: grayscale(20%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

h1,
h2,
p {
  font-family: var(--main-font);
}

h1 {
  font-style: bold;
  color: white;
}

.hero h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 72px;
  text-shadow: 1px 1px 1px grey;
}

.hero p {
  font-size: 18px;
  font-style: normal;
  padding-bottom: 30px;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.hero h2 {
  font-size: 24px;
  font-style: bold;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.hero_content {
  max-width: 595px;
  margin: auto;
}

.inner_button {
  padding: 18px 40px 18px 40px;
  font-family: var(--additional-font);
  background-color: white;
  color: black;
  border-radius: 50px;
  margin-top: 30px;
}

.photo_grid {
  margin: 5px;
}

.photos h2 {
  color: white;
  padding-top: 20px;
  font-family: var(--additional-font);
}

body {
  background-color: #1b1b1b;
}

.img-fluid {
  filter: grayscale(80%);
}

.img-fluid:hover {
  filter: grayscale(0);
}

.photos {
  text-align: center;
}

.col-4 {
  padding: 15px;
}

.my_info {
  margin-top: 20px;
  margin-right: 20px;
}

.my_info h1 {
  font-size: 50px;
}

h3 {
  font-size: 18px;
  font-style: bold;
  color: rgba(246, 82, 130, 1);
}

.my_info p {
  font-size: 16px;
  font-style: normal;
  color: white;
}

.icons {
  margin-bottom: 40px;
}

.icon {
  margin-right: 15px;
}

.camera_name {
  padding-right: 10px;
}

.camera {
  margin-bottom: 40px;
  background-color: black;
  padding: 10px;
  width: 250px;
}

.icon_link {
  text-decoration: none;
  color: white;
}

.icon_link:hover {
  text-decoration: none;
  color: blue;
}

.my_photo {
  filter: grayscale(10%);
}

.photos_about {
  padding-top: 100px;
  text-align: center;
}

.about_photo_grid {
  padding: 30px;
}

.top_block_about {
  display: flex;
  align-items: center;
}

.travels {
  padding-top: 30px;
}

.travels_heading {
  font-size: 64px;
}

.travels h2 {
  color: rgba(246, 82, 130, 1);
  font-size: 30px;
}

.travels_p {
  color: white;
  margin: 10px 30px 10px 30px;
  font-size: 14px;
}

@media (max-width: 1000px) {
  .my_info h1 {
    font-size: 36px;
  }

  .my_info h3 {
    font-size: 14px;
  }

  .my_info p {
    font-size: 14px;
  }

  .photos_about {
    padding-top: 50px;
  }
}

@media (max-width: 900px) {
  .hero {
    min-height: 500px;
    margin-bottom: 15px;
  }
  .img-fluid {
    filter: grayscale(0);
  }
  .photos .row {
    margin: 1px;
  }

  .my_info p {
    font-size: 12px;
  }

  .camera {
    margin-bottom: 20px;
  }

  .icons {
    margin-bottom: 20px;
  }

  .inner_button {
    padding: 9px 20px 9px 20px;
    font-family: var(--additional-font);
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-top: 10px;
    font-size: smaller;
  }

  .hero h2 {
    font-size: 18px;
    margin-top: 20px;
  }

  .hero h1 {
    font-size: 52px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 15px;
  }

  .photos h2 {
    font-size: 16px;
  }

  .photos .col-4 {
    padding: 10px;
  }

  .navbar-brand,
  .nav-link,
  .navbar-toggler-icon {
    font-size: smaller;
  }
}

@media (max-width: 600px) {
  .photos .col-4 {
    padding: 2px;
  }
  .my_photo {
    max-height: 500px;
    margin: 0px;
    padding: 0px;
  }
  .my_info {
    text-align: center;
    padding: 10px;
    margin-right: 0px;
  }
  .camera {
    margin: 15px auto;
  }

  .photos_about {
    padding-top: 20px;
  }

  .about_photo_grid {
    padding: 4px;
  }

  .travels_p {
    margin: 10px;
    font-size: 12px;
  }

  .travels_heading {
    font-size: 36px;
  }
}
